<html><body bgcolor="pink"><center><table>
    <form>
    <h1><center><font color = "blue">Liver Patients Prediction</Center></h1>
      <tr><td><label for="age">Age:</label><br>
      <input type="text" id="age" name="age"size="30"><br></td>
      <td><label for="gender">Gender:</label><br>
      <input type="text" id="gender" placeholder="0 Male,1 Female" name="gender" size="30"></td></tr>
      <tr><td><label for="Total_Billrubin">Total_Billrubin:</label><br>
      <input type="text" id="Total_Billrubin" name="Total_Billrubin"size="30"><br></td>
      <td><label for="Direct_Bilirubin">Direct_Bilirubin:</label><br>
      <input type="text" id="Direct_Bilirubin" name="Direct_Bilirubin"size="30"></td></tr>
      <tr><td><label for="Alkaline_Phosphotase">Alkaline_Phosphotase:</label><br>
      <input type="text" id="Alkaline_Phosphotase" name="Alkaline_Phosphotase"size="30"><br></td>
      <td><label for="Alamine_Aminotransferase">Alamine_Aminotransferase:</label><br>
      <input type="text" id="Alamine_Aminotransferase" name="Alamine_Aminotransferase"size="30"></td></tr>
      <tr><td><label for="Aspartate_Amonotransferase">Aspartate_Amonotransferase:</label><br>
      <input type="text" id="Aspartate_Amonotransferase" name="Aspartate_Amonotransferase"size="30"><br></td>
      <td><label for="Total_Protiens">Total_Protiens:</label><br>
      <input type="text" id="Total_Protiens" name="Total_Protiens"size="30"></td></tr>
      <tr><td><label for="Albumin">Albumin:</label><br>
      <input type="text" id="Albumin" name="Albumin"size="30"><br></td>
      <td><label for="Albumin_and_Globulin_Ratio">Albumin_and_Globulin_Ratio:</label><br>
      <input type="text" id="Albumin_and_Globulin_Ratio" name="Albumin_and_Globulin_Ratio" size="30"></td></tr>
      <td><a href="predict.html"><button type="button" class="myButton"size="25">Predict</button></a></td>
    </form>
    </table>
    </center>
    
    </html>