<html>
    <t1><font size="8"><font color="white">LIVER PATIENT ANALYSIS</font> </font></t1>
    <br><br><br>
    <t2>
        <font soze="5"> INTRODUCTION</font>  
    </t2>
    <body bgcolor="sky blue">
        <p>
            Liver diseases averts the normal function of the liver. Mainly due to the large amount of alcohol 
            consumption liver diseases arises. Early prediction of liver diseases using classification algorithms 
            is an efficacious task that can help the doctors to diagnose the diseases within a short duration of time.
            Discovering the existence of liver diseases at an early stage is a complex task for the doctors.
            The man objective of this paper is to analyse the parameters of various classification algorithms and
            compare their predictive accuracies so as to find out the best classifier for determining the liver
            disease. This paper focuses on the related works of various authors on liver disease such that algorithms
            were implemented using Weka tool that is a machine learning software written in Java. Various attributes 
            that are essential in the prediction of liver disease were examined and the dataset of liver patients 
            were also evaluated. This paper compares various classification algorithms such as Random Forest,Logistic 
            Regression and Separation Algorithm with an aim to identity the best technique. Based on the study. 
            Random Forest with the highest accuracy outperformed the other algorithms and can be further utillsed
            in the prediction of liver diseasecommended.  
        </p>
    </body>
</html>